// containerWidth.
$themeWidth: 1260px;
$contentWidth: 720px;

// Text Color
$textColor: #252525;

// Theme Colors
$themeColors: (
	--link-color               : #009966,
	--link-hover-color         : #252525,
	--button-color             : #009966,
	--button-text-color        : #fff,
	--button-hover-color       : #252525,
	--button-hover-text-color  : #fff,
	--header-background-color  : #fff,
	--header-text-color        : #252525,
	--header-hover-text-color  : #009966,
	--header-border-color      : rgba(0, 0, 0, 0.075),
	--header-border-width      : 1px,
	--submenu-color            : #009966,
	--submenu-text-color       : #fff,
	--submenu-hover-text-color : rgba(255, 255, 255, 0.5),
	--title-color              : #252525,
	--title-hover-color        : #009966,
	--footer-color             : #fff,
	--footer-text-color        : #252525,
	--footer-hover-text-color  : rgba(0, 0, 0, 0.5),
	--footer-border-color      : rgba(0, 0, 0, 0.075),
	--block-primary-color      : #009966,
	--block-secondary-color    : #2CBE95,
	--block-accent-color       : #F4DD49,
	--block-complementary-color: #CF3B46,
);

// Basic Block Colors.
$whiteColor: #ffffff;
$lightGrayColor: #e5e5e5;
$darkGrayColor: #555555;
$blackColor: #242424;

// Theme Fonts
$baseFont: Quicksand, Arial, Helvetica;
$titleFont: Raleway, Tahoma, Arial;
$themeFonts: (
	--text-font  : $baseFont,
	--title-font : $titleFont,
	--navi-font  : $baseFont,
);

// Font Weight.
$fontWeight: (
	--title-font-weight : normal,
	--navi-font-weight  : normal,
);

// Text Transform.
$textTransform: (
	--title-text-transform : none,
	--navi-text-transform  : none,
);

:root {
	--containerWidth: $themeWidth;
	--contentWidth: $contentWidth;
	--link-color: map-get($themeColors, --link-color);
	--link-hover-color: map-get($themeColors, --link-hover-color);
	--button-color: map-get($themeColors, --button-color);
	--button-text-color: map-get($themeColors, --button-text-color);
	--button-hover-color: map-get($themeColors, --button-hover-color);
	--button-hover-text-color: map-get($themeColors, --button-hover-text-color);
	--header-background-color: map-get($themeColors, --header-background-color);
	--header-text-color: map-get($themeColors, --header-text-color);
	--header-hover-text-color: map-get($themeColors, --header-hover-text-color);
	--header-border-color: map-get($themeColors, --header-border-color);
	--header-border-width: map-get($themeColors, --header-border-width);
	--submenu-color: map-get($themeColors, --submenu-color);
	--submenu-text-color: map-get($themeColors, --submenu-text-color);
	--submenu-hover-text-color: map-get($themeColors, --submenu-hover-text-color);
	--title-color: map-get($themeColors, --title-color);
	--title-hover-color: map-get($themeColors, --title-hover-color);
	--footer-color: map-get($themeColors, --footer-color);
	--footer-text-color: map-get($themeColors, --footer-text-color);
	--footer-hover-text-color: map-get($themeColors, --footer-hover-text-color);
	--footer-border-color: map-get($themeColors, --footer-border-color);
	--block-primary-color: map-get($themeColors, --block-primary-color);
	--block-secondary-color: map-get($themeColors, --block-secondary-color);
	--block-accent-color: map-get($themeColors, --block-accent-color);
	--block-complementary-color: map-get($themeColors, --block-complementary-color);
	--text-font: map-get($themeFonts, --text-font);
	--title-font: map-get($themeFonts, --title-font);
	--title-font-weight: map-get($fontWeight, --title-font-weight);
	--title-text-transform: map-get($textTransform, --title-text-transform);
	--navi-font: map-get($themeFonts, --navi-font);
	--navi-font-weight: map-get($fontWeight, --navi-font-weight);
	--navi-text-transform: map-get($textTransform, --navi-text-transform);
}
