.site {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

.site-content,
.footer-widgets-background,
.footer-copyright-background {
	padding-left: 1rem;
	padding-right: 1rem;
}

.footer-main,
.site-main {
	margin-left: auto;
	margin-right: auto;
}

.footer-main {
	max-width: $themeWidth;
}

.site-main {
	max-width: $contentWidth;
}
