.site-content {
	display: grid;
	grid-template-columns: 1fr minmax(0, $contentWidth) 1fr;
	grid-template-columns: 1fr minmax(0, var(--contentWidth) ) 1fr;
	grid-column-gap: 1rem;
	background: #fff;
}

.site-main {
	grid-column: 2 / -2;
}

.type-post,
.type-page,
.type-attachment {
	margin: 0;
	padding: 0;
}

/* Entry Header */
.entry-header {
	margin: 1.5rem 0 1rem;
}

.entry-title {
	margin: 0;
	padding: 0;
	@include color(--title-color);
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	@include font-size(24);
	@include font-family(--title-font);
	@include font-weight(--title-font-weight);
	@include text-transform(--title-text-transform);
	line-height: 1.4;
}

.entry-title a:link,
.entry-title a:visited {
	@include color(--title-color);
	text-decoration: none;
}

.entry-title a:hover,
.entry-title a:active {
	@include color(--title-hover-color);
}

/* Entry Header with Featured Image */
.has-post-thumbnail .entry-header-container {
	margin-left: calc( -100vw / 2 + 100% / 2 );
	margin-right: calc( -100vw / 2 + 100% / 2 );
	max-width: 100vw;
	display: grid;
	grid-template-columns: 1fr minmax(0, $contentWidth) 1fr;
	grid-template-columns: 1fr minmax(0, var(--contentWidth) ) 1fr;
	grid-column-gap: 1rem;
	margin-bottom: 2rem;
}

.has-post-thumbnail .entry-header-container .post-image {
	grid-column: 1 / -1;
	grid-row: 1;
}

.has-post-thumbnail .entry-header-container .entry-header {
	grid-column: 2 / -2;
	grid-row: 1;
	padding: 2rem;
	background: #fff;
}

/* Entry Content */
.entry-content {
	@include font-size(17);
}

.entry-content > p:first-child {
	margin-top: 0;
}

.entry-content > .alignwide,
.entry-content > .alignfull {
	margin-left: calc( -100vw / 2 + 100% / 2 );
	margin-right: calc( -100vw / 2 + 100% / 2 );
	max-width: 100vw;
}

/* Featured Images */
.wp-post-image {
	vertical-align: top;
}

.post-image-archives .wp-post-image {
	margin-bottom: 1rem;
}

/* Read More Button */
.more-link {
	display: inline-block;
	padding: 0.5em 1em;
	@include color(--button-text-color);
	@include background(--button-color);
	@include font-size(15);
}

.more-link:link,
.more-link:visited  {
	@include color(--button-text-color);
	text-decoration: none;
}

.more-link:hover,
.more-link:active {
	@include color(--button-hover-text-color);
	@include background(--button-hover-color);
	text-decoration: none;
}

/* Search & Archive Header */
.search-header .search-form {
	margin-top: 1rem;
}
