.type-post,
.type-page,
.type-attachment {
	margin: 0 0 1rem;
	padding: 0;
}

.blog .type-post,
.archive .type-post {
	padding-bottom: 1rem;
}

/* Entry Header */
.entry-header {
	margin: 1rem 0;
}

.entry-title {
	margin: 0;
	padding: 0;
	@include color(--title-color);
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	@include font-size(24);
	@include font-family(--title-font);
	@include font-weight(--title-font-weight);
	@include text-transform(--title-text-transform);
	line-height: 1.4;
}

.entry-title a:link,
.entry-title a:visited {
	@include color(--title-color);
	text-decoration: none;
}

.entry-title a:hover,
.entry-title a:active {
	@include color(--title-hover-color);
}

/* Page Header with Featured Image */
.featured-image-container .page-image {
	margin-top: -1px;
	margin-top: calc(var(--header-border-width) * -1);
	margin-left: calc(-100vw / 2 + 100% / 2 + 8px);
	margin-right: calc(-100vw / 2 + 100% / 2 + 8px);
	max-width: 100vw;
	text-align: center;
}

.featured-image-container .page-image img {
	vertical-align: top;
}

/* Entry Content */
.entry-content {
	@include font-size(18);
}

.entry-content > .alignwide,
.entry-content > .alignfull {
	margin-left: calc(-100vw / 2 + 100% / 2 + 8px);
	margin-right: calc(-100vw / 2 + 100% / 2 + 8px);
	max-width: 100vw;
}

/* Featured Images */
.entry-content .post-image {
	margin-bottom: 1rem;
	margin-left: calc(-100vw / 2 + 100% / 2 + 8px);
	margin-right: calc(-100vw / 2 + 100% / 2 + 8px);
	max-width: 100vw;
}

.wp-post-image {
	vertical-align: top;
}
