/* Fullwidth Page Layout */
body.fullwidth-page-layout .site-content .site-main {
	max-width: $contentFullwidth;
}

/* Adjust Page Titles */
@media only screen and (min-width: 880px) {
	body.fullwidth-page-layout .featured-image-container {
    	grid-template-columns: 1fr minmax( 0, calc( #{$contentFullwidth} - 3rem ) ) 1fr;
	}

	body.fullwidth-page-layout .featured-image-container .entry-header-container {
        grid-template-columns: 1fr 1.5rem minmax( 0, calc( #{$contentFullwidth} - 1.5rem ) ) 1.5rem;
	}
}

/* Adjust Wide Blocks */
@media only screen and (min-width: 1120px) {
	body.fullwidth-page-layout .entry-content > .alignwide {
		margin-left: calc( -100vw / 2 + 100% / 2 + 8px );
		margin-right: calc( -100vw / 2 + 100% / 2 + 8px );
		max-width: 100vw;
	}
}

@media only screen and (min-width: 1360px) {
	body.fullwidth-page-layout .entry-content > .alignwide {
		margin-left: -160px;
		margin-right: -160px;
		max-width: $wideBlockFullwidth;
	}
}
