/* Fullwidth Page Template */
body.fullwidth-page-layout {
	.site-content .site-main {
		max-width: $contentFullwidth;

		.entry-content > .alignwide {
			max-width: $wideBlockFullwidth;
		}

		.entry-content > .alignwide,
		.entry-content > .alignfull {

			> [class*="__inner-container"] > * {
				max-width: $contentFullwidth;

				&.alignwide {
					max-width: $wideBlockFullwidth;
				}

				&.alignfull {
					max-width: 100%;
				}
			}
		}
	}
}

/* Adjust Page Titles */
@media only screen and (min-width: 880px) {
	body.fullwidth-page-layout .featured-image-container {
		grid-template-columns: 1fr minmax(0, calc(#{$contentFullwidth} - 3rem)) 1fr;
	}

	body.fullwidth-page-layout .featured-image-container .entry-header-container {
		grid-template-columns: 1fr 1.5rem minmax(0, calc(#{$contentFullwidth} - 1.5rem)) 1.5rem;
	}
}

/* Adjust Wide Blocks */
@media only screen and (min-width: 1120px) {
	body.fullwidth-page-layout {
		.entry-content > .alignwide {
			margin-left: calc(-100vw / 2 + 100% / 2);
			margin-right: calc(-100vw / 2 + 100% / 2);
		}
	}
}

@media only screen and (min-width: 1360px) {
	body.fullwidth-page-layout {
		.entry-content > .alignwide {
			margin-left: -160px;
			margin-right: -160px;
		}
	}
}

/* Hide Page Title */
.page-title-hidden .type-page > .page-header,
.page-title-hidden .type-page .featured-image-container .page-header-container {
	display: none;
}

/* Remove Bottom Margin */
.page-bottom-margin-removed .type-page,
.page-bottom-margin-removed .type-page .entry-content > *:last-child {
	margin-bottom: 0;
}
